.admin {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h2 {
        font-size: 7.5rem;
        color: var(--color-text-admin);
        margin-top: -29vh;
    }
    &__inner-border {
        padding-top: 12vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    @media screen and (max-width: $tablet) {
        & h2 {
            font-size: 9vw;
        }
    }
    @media screen and (max-width: $mobile) {
        width: 80%;
        & h2 {
            font-size: 3.8rem;
            margin-top: 12rem;
        }
        &__inner-border {
            padding-top: 12vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }

    &__about-us {
        outline: none;
        border: none;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        background-image: radial-gradient(#7777dd, #2a4485, #8f8f8f);
        box-shadow: 0 2rem 2.5rem rgb(49, 43, 43);
        color: #eeede3;
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        transition: all 450ms;

        &::after {
            content: "";
            background: transparent;
            border: 1px solid rgba(206, 206, 206, 0);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            // z-index: -1;
            width: 100%;
            height: 100%;
            transition: all 900ms;
        }

        &:hover {
            color: #ffffff;
            &::after {
                border: 1px solid #c1c1ec;
                transform: scale(1.5);
            }
        }
        &:active {
            color: #ffffff;
            transform: scale(0.98);
            box-shadow: 0 1rem 1rem grey;
            &::after {
                transition: all 220ms;
                transform: scale(1);
            }
        }
    }
    &__opening {
        outline: none;
        border: none;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        background-image: radial-gradient(#c999a8, #cb1e1e, #f6f6f6);
        box-shadow: 0 2rem 2.5rem rgb(49, 43, 43);
        color: #eeede3;
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        transition: all 450ms;
        &::after {
            content: "";
            background: transparent;
            border: 1px solid rgba(206, 206, 206, 0);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            // z-index: -1;
            width: 100%;
            height: 100%;
            transition: all 900ms;
        }

        &:hover {
            color: #ffffff;
            &::after {
                border: 1px solid #f3c4d2;
                transform: scale(1.5);
            }
        }
        &:active {
            color: #ffffff;
            transform: scale(0.98);
            box-shadow: 0 1rem 1rem grey;
            &::after {
                transition: all 220ms;
                transform: scale(1);
            }
        }
    }
    &__menu,
    &__menu:link,
    &__menu:visited {
        text-decoration: none;
        display: inline-block;
        outline: none;
        border: none;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        background-image: radial-gradient(#84a48e, #3dcf37, #cccdcc);
        box-shadow: 0 2rem 2.5rem rgb(49, 43, 43);
        color: #eeede3;
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        transition: all 450ms;
        & span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::after {
            content: "";
            background: transparent;
            border: 1px solid rgba(206, 206, 206, 0);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            transition: all 900ms;
        }

        &:hover {
            color: #ffffff;
            &::after {
                border: 1px solid #b1f5af;
                transform: scale(1.5);
            }
        }
        &:active {
            color: #ffffff;
            transform: scale(0.98);
            box-shadow: 0 1rem 1rem grey;
            &::after {
                transition: all 220ms;
                transform: scale(1);
            }
        }
    }

    @media screen and (max-width: $tablet) {
        &__menu,
        &__menu:link,
        &__menu:visited,
        &__about-us,
        &__opening {
            height: 14rem;
            width: 14rem;
            font-size: 2rem;
        }
    }
    @media screen and (max-width: $mobile) {
        &__menu,
        &__menu:link,
        &__menu:visited,
        &__about-us,
        &__opening {
            height: 14rem;
            width: 14rem;
            font-size: 2rem;
            margin-bottom: 4.5rem;
        }
    }
}

.modal--opening {
    .modal__content {
        & .opening-item {
            display: flex;
            justify-content: flex-end;
            width: 99%;
            margin: 1rem auto;
            position: relative;
            & label {
                position: absolute;
                left: 0;
                display: inline-block;
            }
            & input {
                display: inline-block;
                width: 8.5rem;
                overflow: hidden;
                border-radius: 10px;
            }
            & .error-text {
                display: none;
            }
        }
    }
}
