.menu {
    background-image: url("/cssImgs/menu.jpg");
    background-size: cover;
    padding-bottom: 15.5rem;
}

.layout {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    //auto fit is better than fill
    // grid-auto-rows: height-value...
    grid-template-rows: repeat(4, minmax(25rem, max-content));
    //   grid-template-columns: repeat(auto-fill, 30rem);
    grid-auto-rows: min-content;
    grid-gap: 30px;
    padding-top: 11rem;
    @media screen and (max-width: $mobile) {
        padding-top: 12rem;
    }
    width: 90%;
    justify-content: center;
    margin: auto;
    @media screen and (max-width: 980px) {
        grid-template-columns: repeat(auto-fill, 5rem);
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    & p {
        color: #463939;
        font-size: 140%;
    }
    &__item {
        background-color: rgba(255, 255, 255, 0.527);
        padding: 2rem;
        box-shadow: 0 1rem 2.5rem rgb(14, 10, 10);
        & .food-item p {
            color: var(--color-text-dark);

            font-size: 140%;
            //color: #5b6155;
            @media screen and (max-width: $mobile) {
                font-size: 130%;
            }
        }
        .food-item {
            display: flex;
            justify-content: space-between;
            & p {
                font-size: 210%;
                @media screen and (max-width: $mobile) {
                    font-size: 177%;
                }
            }
        }
    }
}

.menu-title {
    text-align: center;
    padding-top: 14rem;
    font-size: 7.5rem;
    color: var(--color-text-lighter);
    @media screen and (max-width: $tablet) {
        font-size: 8vw;
    }
    @media screen and (max-width: $mobile) {
        font-size: 4.5rem;
    }
}
