.map {
    height: 30rem;
    width: 30rem;
    overflow: hidden;
    &__landing-page {
        height: 46rem;
        width: 53rem;
        border: 8px solid var(--color-footer-dark);
        border-radius: 17%;
        margin: auto;
        transform: scale(0.9);
        transition: all 400ms;

        @media screen and (max-width: $tablet) {
            height: 34rem;
            width: 38rem;
        }
        @media screen and (max-width: $mobile) {
            height: 32rem;
            width: 32rem;
            border-radius: 50%;
        }

        &:hover {
            border: 18px double var(--color-footer-dark);

            transform: scale(1);
        }
    }

    &__footer {
        margin: auto;
        height: 38rem;
        width: 38rem;
        border-radius: 50%;
        border: 8px solid var(--color-footer-dark);

        transform: scale(0.9);
        transition: all 400ms;
        @media screen and (max-width: $tablet-lg) {
            height: 26rem;
            width: 26rem;
            margin: 0;
        }
        @media screen and (max-width: $tablet) {
            height: 26rem;
            width: 26rem;
            margin: 0;
        }

        &:hover {
            border: 18px double var(--color-footer-dark);

            transform: scale(1);
        }
    }
}

.map-img {
    width: 100%;
    height: auto;
}
